* {
    font-family: 'proxima-nova', sans-serif;
    margin: 20px;
}

.goback {
    color: #2a68af;
    border: 2px solid #2a68af;
    border-width: 2px 2px;
    display: inline-block;
    padding: 2px;
}

.goback:hover {
    cursor: pointer;
    background-color: #2a68af;
    color: white
}

.errortext {
    text-align: center;
    font-size: 110px;
    font-weight: bold;
    color: #979797;
    border-bottom: 10px solid #2a68af;
    padding: 15px;
}

.errortext img {
    height: 70px;
    margin: 5px;
}

.bluetext {
    color: #2a68af;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}

.greytext {
    color: #979797;
    font-size: 70px;
    text-align: center;
    margin-top: 0;
}

.allerrorinfo {
    border-right: 10px dotted #2a68af;
    border-bottom: 10px dotted #2a68af;
    border-radius: 50%;
    padding: 20px; 
}

.alldata {
    border: 10px solid #979797;
    vertical-align: middle;
}

@media screen and (max-width: 760px) {
    .errortext {
        font-size: 55px;
    }

    .bluetext, .greytext {
        font-size: 35px;
    }

    .errortext img {
        height: 35px;
        margin: 2.5px;
    }
}