

.goback {
    color: #2a68af;
    border: 2px solid #2a68af;
    border-width: 2px 2px;
    display: inline-block;
    padding: 2px;
    left: 0;
    top: 0;
}

.goback:hover {
    cursor: pointer;
    background-color: #2a68af;
    color: white
}