* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::selection {
    background-color: #fff
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

.sitehead {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 20px 0 20px 0;
    cursor: default;
}

.sitename{
    margin: auto;
}

.logo {
    grid-template-rows: auto auto;
}

.sitenamegeneral{
    font-size: 20px;
    font-weight: bold;
    color: #2a68af;
}

.subsitename{
    font-size: 12px;
    font-weight: bold
}

.lefthead {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.righthead {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0px;
}

.form input {
    border: 2px solid #2a68af;
    text-align: center;
}

.logo input{
    margin: 11px;
}

.logintositetext {
    font-size: 10px;
    font-weight: bold;
    color: #2a68af;
    margin-left: auto;
    cursor: pointer;
}

.siteloginform input{
    border: 2px solid #2a68af;
    text-align: center;
    width: 100%;
}

.w3-content img {
    height: 150px;
}

.w3-content{
    margin-left:auto;
    margin-right:auto;
}

.w3-animate-fading{
    animation: fading 10s infinite;
}

@keyframes fading{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.navbarpng {
    display: grid;
    margin: 10px 2% 30px;
}

.navbarpng img{
    height: 40px;
    margin: auto;
}

.navbar {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    border-width: 2px;
    border-style: solid;
    color: #2a68af;
    height: 40px;
    width: 120px;
    text-decoration: none;
    padding-top: 8px;
    text-align: center;
    justify-content: center;
    margin: 5px 0 0;
    font-size: 16px;
    letter-spacing: 0;
    outline: none;
    background-color: white;
    border-color: #2a68af;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #2a68af;
    color: white;
    cursor: pointer;
}

.navbar a:hover::selection {
    background-color: #3b80d0;
}

.navbar a:active {
    background-color: #19c8dc;
}

.navbar a:active::selection {
    background-color: #19c8dc;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 20%;
    padding: 0 0 0 3%;
}

.subparagraph{
    padding: 0 0 0 30%;
}

.subsubparagraph{
    padding: 0 0 0 38%;
}

.arrowsubparagraph{
    padding: 0 0 0 18%;
}

.sideheader {
    color: #2a68af;
    font-size: 20px;
    font-weight: bold;
}

.sidetext a:visited {
    color: #2a68af;
    font-size: 12px;
    text-decoration: none;
}

.sidetext a {
    color: #2a68af;
    text-decoration: none;
    cursor: pointer;
}

.sidetext {
    color: #2a68af;
    cursor: default;
}

.sidetext p {
    cursor: pointer;
}

i {
    border: solid #2a68af;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 10%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main {
    flex: 80%;
    background-color: white;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    color: black;
    font-size: 15px;
    flex: 60%;
    background-color: #ffffff;
    display: grid;
}

.header h1 {
    color: #2a68af;
    font-weight: bold;
    font-size: 15px;
}

.header a {
    border: solid #2a68af;
    border-width: 2px 2px;
    padding: 5px 3px;
    float: left;
    text-decoration: none;
    color: #2a68af;
    margin: 10px 0 0 0;
}

.header a:hover {
    background-color: #2a68af;
    color: white;
    cursor: pointer;
}

.picture {
    flex: 40%;
    background-color: #ffffff;
}

.picture a {
    display: none;
}

.picture p {
    display: none;
}

.tabinator label img {
    justify-content: center; 
    height: 20px;
    padding: 0 5px;
}
.tabinator {
    position: relative;
    background: #fff;
    font-family: Open Sans;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.tabinator h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tabinator input {
    display: none;
}

.tabinator label {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 1.1%;
    color: black;
    margin-bottom: -2px;
    border-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    width: 19.65%;
}

.tabinator label:before {
    content:'';
    display:block;
    width:100%;
    position:absolute;
    bottom:-11px;
    border-bottom: 0px solid #fff;
    left:0;
    z-index:10;  
}

.tabinator label:hover {
    color: #2a68af;
    cursor: pointer;
}

.tabinator input:checked + label {
    position: relative;
    color: #000;
    background: #fff;
    border: 2px solid #2a68af;
    border-bottom: 0px solid #fff;
}

.tabinator input:checked + label:after {
    display: block;
    border-bottom: 0px solid #fff;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.tags {
    display: inline;
    cursor: default;
}

.tags div {
    border: solid #2a68af;
    border-width: 2px 2px;
    display: inline-block;
    padding: auto;
    margin-left: 15px;
}

#content1, #content2, #content3, #content4, #content5 {
    display: none;
    border: 2px solid #2a68af;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

.wallpaper {
    width: 100%;
    margin: 10px 0 0 0;
}

@media screen and (min-width: 721px) and (max-width: 1189px) {
    .tabinator label {
        width: 18%;
        font-size: 13px;
    }

    .sidetext {
        font-size: 10px;
    }

    .side {
        color: #2a68af;
        text-decoration: none;
    }

    .navbar a {
        margin: 10px 3%;
        height: 30px;
        width: 90px;
        font-size: 12px;
        padding-top: 6px;
    }

    .w3-content img {
        height: 100px;
    }
}

@media screen and (max-width: 720px) {
    .row, .main{
        margin-top: 20px;
        flex-direction: column;
    }

    .lefthead {
        display: block;
    }

    .sitenamegeneral{
        font-size: 13px;
        text-align: center;
    }
    
    .subsitename{
        font-size: 8px;
        text-align: center;
    }

    .logintositetext {
        font-size: 6px;
    }

    .side {
        margin: 0 auto 0 auto;
        flex: unset;
    }

    .firstarrow, .secondarrow, .thirdarrow {
        display: none;
    }

    .firstfatherarrow, .secondfatherarrow, .thirdfatherarrow, .fourthatherarrow  {
        display: inline-block;
        margin: 5px auto;
    }

    .arrow {
        text-decoration: none;
        background-color: #2a68af;
        padding: 5px;
        color: white;
        font-size: 10px;
        border: none;
        cursor: pointer;
    }

    i {
        padding: 0;
        border-width: 0;
        margin-right: 0;
    }

    .main {
        display: table;
        width: 100%;
    }

    .picture {
        display: table-header-group;
    }

    .header {
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
    }
    
    .tabinator {
        display: table-row-group;
        position: initial;
        font-size: 0;
    }

    .tags {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar a {
        margin: 10px 3%;
        height: 20px;
        width: 60px;
        font-size: 8px;
        padding-top: 4px;
    }

    .tabinator label{
        width: 20%;
        font-size: 0;
        padding: 5px 6%;
    }

    #content1, #content2, #content3, #content4, #content5 {
        position: initial;
        bottom: initial;
        font-size: 16px;
    }

    .sidetext a:visited {
        color: white;
    }
    
    .sidetext a {
        color: white;
        cursor: pointer;
    }

    .sidetext a:hover {
        color: #2a68af;
        background-color: white;
        box-shadow: 0 0 0 2px #2a68af;
    }

    .sidetext {
        font-size: 11px;
    }

    .picture p {
        display: block;
    }

    .w3-content img {
        height: 75px;
    }
    
    .header a {
        display: none;
    }

    .picture {
        background: url("/projects/public/images/default.png") repeat;
        background-size: contain;
        border: 2px solid #2a68af;
    }
      
    .transbox {
        margin: 85.5px;
        background-color: #ffffff;
        border: 2px solid #2a68af;
        opacity: 0.8;
        filter: alpha(opacity=60);
        padding: 20px;
        font-weight: bold;
        color: #2a68af;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    .transbox:hover {
        background-color: #2a68af;
        color: white;
        opacity: 1;
        cursor: pointer;
    }

    .picture img {
        display: none;
    }

    .navbarpng {
        margin: 10px 1% 10px;
    }
}

@media screen and (max-width: 400px) {
    .navbarpng {
        margin: 10px 0% 10px;
    }
    
    .side {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .picture p {
        display: block;
    }
    
    .tags div {
        margin-left: 5px;
    }

    .transbox {
        margin: 50px;
    }
}